Codice-Node-Red.json
[{"id":"7989dcbd7d4f367e","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"67d24932ace49a09","type":"subflow","name":"Stato Fiume","info":"","category":"","in":[{"x":60,"y":160,"wires":[{"id":"cc1140bec94509dd"}]}],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"e78e6ad217eb637c","type":"mqtt-broker","name":"","broker":"broker.mqtt.cool","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"24210e16af0cf5f6","type":"ui-base","name":"My Dashboard","path":"/dashboard","appIcon":"","includeClientData":false,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"headerContent":"page","navigationStyle":"default","titleBarStyle":"default","showReconnectNotification":true,"notificationDisplayTime":1,"showDisconnectNotification":true,"allowInstall":false},{"id":"5a1da09aa4c3054d","type":"ui-theme","name":"Default Theme","colors":{"surface":"#ffffff","primary":"#0094ce","bgPage":"#ffffff","groupBg":"#ffffff","groupOutline":"#c2c2c2"},"sizes":{"density":"default","pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"12px"}},{"id":"75d47133ce795e0a","type":"ui-page","name":"Intro","ui":"24210e16af0cf5f6","path":"/page1","icon":"information-outline","layout":"grid","theme":"5a1da09aa4c3054d","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":1,"className":"","visible":true,"disabled":false},{"id":"df3831c379bc090b","type":"ui-group","name":"Intro","page":"75d47133ce795e0a","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"42151ac177ed2b83","type":"ui-page","name":"Grafo","ui":"24210e16af0cf5f6","path":"/page2","icon":"graph","layout":"grid","theme":"5a1da09aa4c3054d","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":3,"className":"","visible":true,"disabled":false},{"id":"1a56ade26b705151","type":"ui-page","name":"Monitoraggio e statistica","ui":"24210e16af0cf5f6","path":"/page3","icon":"chart-line","layout":"grid","theme":"5a1da09aa4c3054d","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":5,"className":"","visible":true,"disabled":false},{"id":"25c566570bec3bd7","type":"ui-group","name":"Indicatori","page":"1a56ade26b705151","width":"4","height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"fa60c6a99b9e1abf","type":"ui-group","name":"Grafici","page":"1a56ade26b705151","width":6,"height":1,"order":2,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"b7d88f00399eab63","type":"ui-group","name":"Grafo","page":"42151ac177ed2b83","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"e24f3b700fe70532","type":"ui-page","name":"Temp Value setter","ui":"24210e16af0cf5f6","path":"/page4","icon":"test-tube","layout":"grid","theme":"5a1da09aa4c3054d","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":6,"className":"","visible":true,"disabled":false},{"id":"6faf187afa58bc71","type":"ui-group","name":"Temp","page":"e24f3b700fe70532","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"6d3d8af6df60b40f","type":"ui-page","name":"Mappa","ui":"24210e16af0cf5f6","path":"/page5","icon":"map","layout":"grid","theme":"5a1da09aa4c3054d","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":2,"className":"","visible":true,"disabled":false},{"id":"a07ab04b0ae4ba5f","type":"ui-group","name":"Mappa","page":"6d3d8af6df60b40f","width":6,"height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"6d7ab62615cda0d3","type":"ui-page","name":"Istogramma","ui":"24210e16af0cf5f6","path":"/page6","icon":"chart-bar","layout":"grid","theme":"5a1da09aa4c3054d","breakpoints":[{"name":"Default","px":"0","cols":"3"},{"name":"Tablet","px":"576","cols":"6"},{"name":"Small Desktop","px":"768","cols":"9"},{"name":"Desktop","px":"1024","cols":"12"}],"order":4,"className":"","visible":true,"disabled":false},{"id":"92d87978a125b470","type":"ui-group","name":"Istogramma","page":"6d7ab62615cda0d3","width":10,"height":1,"order":1,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"eaba21c23264e6ad","type":"ui-group","name":"Leds","page":"6d7ab62615cda0d3","width":10,"height":1,"order":2,"showTitle":true,"className":"","visible":"true","disabled":"false","groupType":"default"},{"id":"3bf190f722fb571a","type":"mqtt-broker","name":"mosquitto","broker":"test.mosquitto.org","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"autoUnsubscribe":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"cc1140bec94509dd","type":"function","z":"67d24932ace49a09","name":"Dati Fiume 0","func":"const fiumi = global.get(\"Fiumi\") || [];\nconst impostazioni = global.get(\"impostazioni\") || {};\n\nconst stato = fiumi[msg.payload];\n\nif (!stato || stato.valore === undefined) {\n    return null;\n}\n\nconst valore = stato.valore;\nconst nome = stato.nome.replaceAll(\"_\", \" \");\n\nlet led = false;\n\nif (valore >= impostazioni.soglia) {\n    led = true;\n}\n\nreturn {\n    payload: led,     // per il LED\n    valore: valore,  // per gauge/chart\n    nome: nome\n};\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":160,"wires":[["57beaa5f9afe4f86","d283edfb7c6ddfb2","0ecf38fba4e5586c","a6c44e70eed5dffd","d7b8cbdeed78acfd","05507df4deb710d5"]]},{"id":"05507df4deb710d5","type":"ui-gauge","z":"67d24932ace49a09","name":"Gauge","group":"25c566570bec3bd7","order":3,"value":"valore","valueType":"msg","width":4,"height":3,"gtype":"gauge-half","gstyle":"needle","title":"","alwaysShowTitle":false,"floatingTitlePosition":"top-left","units":"units","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#ea5353","text":"","textType":"label"},{"from":"5","color":"#5cd65c","text":"","textType":"label"}],"min":0,"max":10,"sizeThickness":16,"sizeGap":4,"sizeKeyThickness":8,"styleRounded":true,"styleGlow":false,"className":"","x":390,"y":60,"wires":[[]]},{"id":"0ecf38fba4e5586c","type":"ui-led","z":"67d24932ace49a09","name":"LED","group":"25c566570bec3bd7","order":1,"width":"2","height":"1","label":"","labelPlacement":"right","labelAlignment":"flex-start","states":[{"value":"false","valueType":"bool","color":"#fa0000"},{"value":"true","valueType":"bool","color":"#11ff00"}],"allowColorForValueInMessage":false,"shape":"circle","showBorder":true,"showGlow":true,"x":390,"y":180,"wires":[]},{"id":"d7b8cbdeed78acfd","type":"ui-led","z":"67d24932ace49a09","name":"LED","group":"eaba21c23264e6ad","order":1,"width":"1","height":"1","label":"","labelPlacement":"right","labelAlignment":"flex-start","states":[{"value":"false","valueType":"bool","color":"#fa0000"},{"value":"true","valueType":"bool","color":"#11ff00"}],"allowColorForValueInMessage":false,"shape":"circle","showBorder":true,"showGlow":true,"x":390,"y":100,"wires":[]},{"id":"a6c44e70eed5dffd","type":"ui-text","z":"67d24932ace49a09","group":"eaba21c23264e6ad","order":2,"width":"1","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","value":"nome","valueType":"msg","x":390,"y":140,"wires":[]},{"id":"d283edfb7c6ddfb2","type":"ui-text","z":"67d24932ace49a09","group":"25c566570bec3bd7","order":2,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-left","style":false,"font":"","fontSize":16,"color":"#717171","wrapText":false,"className":"","value":"nome","valueType":"msg","x":390,"y":220,"wires":[]},{"id":"57beaa5f9afe4f86","type":"ui-chart","z":"67d24932ace49a09","group":"fa60c6a99b9e1abf","name":"Chart","label":"","order":1,"chartType":"line","category":"nome","categoryType":"msg","xAxisLabel":"","xAxisProperty":"","xAxisPropertyType":"timestamp","xAxisType":"time","xAxisFormat":"","xAxisFormatType":"auto","xmin":"","xmax":"","yAxisLabel":"cm","yAxisProperty":"valore","yAxisPropertyType":"msg","ymin":"0","ymax":"10","bins":10,"action":"append","stackSeries":false,"pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"","colors":["#0095ff","#0095ff","#0095ff","#0095ff","#0095ff","#0095ff","#0095ff","#0095ff","#0095ff"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":4,"height":4,"className":"","interpolation":"linear","x":390,"y":260,"wires":[[]]},{"id":"368bc37e80ff64d1","type":"ui-markdown","z":"7989dcbd7d4f367e","group":"df3831c379bc090b","name":"Intro","order":1,"width":0,"height":0,"content":"# Sistema di Monitoraggio degli Affluenti dell’Adige\n\n<img src=\"https://github.com/Paolo-Comper/Sonde_X_Vigili_Di_Villalagarina/blob/main/Resouces/Logo.png?raw=true\" alt=\"logo\" width=\"200\"/>\n\n### Fatto da Paolo Comper 4Aea\n\n## Scopo del Progetto\nQuesto pannello permette di visualizzare in tempo reale lo stato idrometrico dei principali affluenti dell’Adige.  \nL’obiettivo è offrire un controllo semplice e immediato della situazione, così da individuare tempestivamente eventuali condizioni critiche.\n\n## Cosa Trovi in Questo Dashboard\n\n### **Mappa dei punti di monitoraggio**\nVisualizza la posizione geografica di ogni affluente e il livello dell’acqua misurato.\n\n### **Grafo degli affluenti**\nRappresenta i collegamenti tra i fiumi tramite un diagramma *Mermaid*, con indicatori di stato:\n- **rosso:** livello oltre la soglia di sicurezza  \n- **verde:** situazione regolare\n\n### **Istogramma dei livelli**\nMostra l’altezza dell’acqua di ogni affluente in un colpo d’occhio.\n\n### **Andamento temporale**\nPer ogni fiume puoi vedere:\n- il livello corrente,\n- la sua evoluzione nel tempo,\n- l’indicatore di soglia.\n\n## Informazioni\nQuesto progetto è stato realizzato utilizzando **Node-RED Dashboard 2**, sfruttando estensivamente il formato **Markdown** per ottenere una struttura chiara, leggibile e facile da mantenere.\n\n\n","className":"","x":890,"y":380,"wires":[[]]},{"id":"8857451eabd911c3","type":"ui-chart","z":"7989dcbd7d4f367e","group":"92d87978a125b470","name":"","label":"chart","order":1,"chartType":"bar","category":"Fiumi","categoryType":"str","xAxisLabel":"Fiumi","xAxisProperty":"nome","xAxisPropertyType":"property","xAxisType":"category","xAxisFormat":"","xAxisFormatType":"auto","xmin":"","xmax":"","yAxisLabel":"cm","yAxisProperty":"valore","yAxisPropertyType":"property","ymin":"0","ymax":"10","bins":10,"action":"replace","stackSeries":false,"pointShape":"circle","pointRadius":4,"showLegend":true,"removeOlder":1,"removeOlderUnit":"3600","removeOlderPoints":"","colors":["#0095ff","#0095ff","#0095ff","#0095ff","#0095ff","#0095ff","#0095ff","#0095ff","#0095ff"],"textColor":["#666666"],"textColorDefault":true,"gridColor":["#e5e5e5"],"gridColorDefault":true,"width":10,"height":8,"className":"","interpolation":"linear","x":970,"y":200,"wires":[[]]},{"id":"27d1de4bf7b6251b","type":"worldmap","z":"7989dcbd7d4f367e","name":"","lat":"","lon":"","zoom":"","layer":"OSMG","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"true","panlock":"false","zoomlock":"true","hiderightclick":"false","coords":"none","showgrid":"false","showruler":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN","maplist":"OSMG,OSMC,EsriC,EsriS,UKOS","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":1040,"y":320,"wires":[]},{"id":"74ac8fd984315187","type":"ui-template","z":"7989dcbd7d4f367e","group":"a07ab04b0ae4ba5f","page":"","ui":"","name":"WorldMap UI Template","order":1,"width":"12","height":"12","head":"","format":"<template>\n    <iframe class=\"worldmap\" src=\"/worldmap\"></iframe>\n</template>\n\n<style>\n    .worldmap {\n        width:100%;\n        height:100%;\n    }\n</style>","storeOutMessages":true,"passthru":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":700,"y":380,"wires":[[]]},{"id":"cbf65b3a4e14408e","type":"ui-markdown","z":"7989dcbd7d4f367e","group":"b7d88f00399eab63","name":"Grafo","order":1,"width":0,"height":0,"content":"```mermaid\n{{msg.payload}}\n\n```","className":"","x":950,"y":140,"wires":[[]]},{"id":"a4c8081648fa9efb","type":"mqtt in","z":"7989dcbd7d4f367e","name":"Fiumi","topic":"esp32/sensore/#","qos":"0","datatype":"auto-detect","broker":"e78e6ad217eb637c","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":60,"wires":[["2db6e2154b484f1d"]]},{"id":"2db6e2154b484f1d","type":"function","z":"7989dcbd7d4f367e","name":"aggiorna lo stato dei fiumi","func":"let fiumi = global.get(\"Dati\") || {};\n\n// dividi il topic MQTT in parti\nconst parti = msg.topic.split(\"/\");\n\nif (parti.length < 1) {\n    return null;\n}\n\n// nome fiume = ultimo elemento del topic\nconst nome_fiume = parti[parti.length - 1];\n\n// inizializza se non esiste\nif (!fiumi[nome_fiume]) {\n    fiumi[nome_fiume] = {};\n}\n\n// aggiorna dati\nfiumi[nome_fiume] = {\n    nome: nome_fiume,\n    valore: msg.payload\n};\n\nglobal.set(\"Dati\", fiumi);\n\nmsg.payload = fiumi;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":60,"wires":[["fe3b769ce9b04de9"]]},{"id":"d895ddf9f485f21a","type":"function","z":"7989dcbd7d4f367e","name":"creazione dati per grafico","func":"const fiumi = global.get(\"Fiumi\") || {};\nconst dati = [];\n\nfor (const nome in fiumi)\n{\n    const stato = fiumi[nome];\n\n    if (!stato || stato.valore === undefined)\n    {\n        continue;\n    }\n\n    dati.push({\n        nome: stato.nome.replaceAll(\"_\", \" \"),\n        valore: stato.valore\n    });\n}\n\nmsg.payload = dati;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":200,"wires":[["8857451eabd911c3"]]},{"id":"9e1061de6d03f67b","type":"link in","z":"7989dcbd7d4f367e","name":"segnale output grafico","links":["1d0a478c40b0d260","6a8a38e1418c0fc7"],"x":605,"y":200,"wires":[["d895ddf9f485f21a"]]},{"id":"612a6397f95d1d6c","type":"function","z":"7989dcbd7d4f367e","name":"generatore del grafo","func":"const fiumi = global.get(\"Fiumi\") || {};\n\n// collegamenti hardcoded (da -> a)\nconst collegamenti = [\n    { from: \"Rio_Molini\",        to: \"Adige\" },\n    { from: \"Rio_Piazzo\",        to: \"Rio_Molini\" },\n    { from: \"Rio_val_Morela\",    to: \"Rio_Piazzo\" },\n    { from: \"Rio_San_Clemente\",  to: \"Adige\" }\n];\n\nconst soglia = 5;\n\nlet mermaid = `\n%%{init: {\n  \"theme\": \"base\",\n  \"themeVariables\": {\n    \"primaryColor\": \"#f0f0f0\",\n    \"primaryTextColor\": \"#000000\",\n    \"textColor\": \"#000000\",\n    \"lineColor\": \"#111111\",\n    \"primaryBorderColor\": \"transparent\",\n    \"secondaryBorderColor\": \"transparent\"\n  }\n}}%%\nflowchart TB\n`;\n\n// nodi\nfor (const id in fiumi)\n{\n    const nome = id.replaceAll(\"_\", \" \");\n    mermaid += `    ${id}(\"**${nome}**\")\\n`;\n}\n\nmermaid += \"\\n\";\n\n// stili\nfor (const id in fiumi)\n{\n    const stato = fiumi[id];\n    const valore = stato?.valore;\n\n    let colore = \"f0f0f0\";\n\n    if (valore !== undefined)\n    {\n        colore = (valore >= soglia) ? \"00f000\" : \"f00000\";\n    }\n\n    mermaid += `    style ${id} fill:#${colore}\\n`;\n}\n\nmermaid += \"\\n\";\n\n// collegamenti\nfor (const c of collegamenti)\n{\n    mermaid += `    ${c.from} --> ${c.to}\\n`;\n}\n\nmsg.payload = mermaid;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":140,"wires":[["cbf65b3a4e14408e"]]},{"id":"2dfe61daa9f41d3d","type":"link in","z":"7989dcbd7d4f367e","name":"segnale output grafico","links":["1d0a478c40b0d260","6a8a38e1418c0fc7"],"x":605,"y":140,"wires":[["612a6397f95d1d6c"]]},{"id":"086d5af2fbe9948d","type":"function","z":"7989dcbd7d4f367e","name":"Impostazioni","func":"global.set(\"impostazioni\",\n    {\n        soglia: 5\n    });\n\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":260,"wires":[[]]},{"id":"6b2e0d1efe16ad7a","type":"link in","z":"7989dcbd7d4f367e","name":"segnale output grafico","links":["1d0a478c40b0d260","6a8a38e1418c0fc7"],"x":605,"y":260,"wires":[["086d5af2fbe9948d"]]},{"id":"891a150fed9048d6","type":"link in","z":"7989dcbd7d4f367e","name":"segnale output grafico","links":["1d0a478c40b0d260","6a8a38e1418c0fc7"],"x":65,"y":140,"wires":[["a9bbf4f66956b596"]]},{"id":"3e68d172186e4060","type":"mqtt out","z":"7989dcbd7d4f367e","name":"Adige","topic":"esp32/sensore/Adige","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e78e6ad217eb637c","x":330,"y":460,"wires":[]},{"id":"3a6dda56a6d163a2","type":"mqtt out","z":"7989dcbd7d4f367e","name":"Rio Molini","topic":"esp32/sensore/Rio_Molini","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e78e6ad217eb637c","x":340,"y":520,"wires":[]},{"id":"853c8b8b5e0593c7","type":"mqtt out","z":"7989dcbd7d4f367e","name":"Rio Piazzo","topic":"esp32/sensore/Rio_Piazzo","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e78e6ad217eb637c","x":350,"y":580,"wires":[]},{"id":"6f9b676823b0c8e8","type":"mqtt out","z":"7989dcbd7d4f367e","name":"Rio val Morela","topic":"esp32/sensore/Rio_val_Morela","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e78e6ad217eb637c","x":360,"y":640,"wires":[]},{"id":"a474137157d13c5d","type":"mqtt out","z":"7989dcbd7d4f367e","name":"Rio San Clemente","topic":"esp32/sensore/Rio_San_Clemente","qos":"0","retain":"false","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e78e6ad217eb637c","x":370,"y":700,"wires":[]},{"id":"19fd4ccf023a58cc","type":"ui-number-input","z":"7989dcbd7d4f367e","group":"6faf187afa58bc71","name":"Adige","label":"Adige","order":1,"width":0,"height":0,"topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"tooltip":"","passthru":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":90,"y":460,"wires":[["3e68d172186e4060"]]},{"id":"e681e289d1917975","type":"ui-number-input","z":"7989dcbd7d4f367e","group":"6faf187afa58bc71","name":"Rio Molini","label":"Rio Molini","order":5,"width":0,"height":0,"topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"tooltip":"","passthru":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":100,"y":520,"wires":[["3a6dda56a6d163a2"]]},{"id":"8f228089abdc0b0c","type":"ui-number-input","z":"7989dcbd7d4f367e","group":"6faf187afa58bc71","name":"Rio Piazzo","label":"Rio Piazzo","order":4,"width":0,"height":0,"topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"tooltip":"","passthru":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":110,"y":580,"wires":[["853c8b8b5e0593c7"]]},{"id":"746fd9742b8b5318","type":"ui-number-input","z":"7989dcbd7d4f367e","group":"6faf187afa58bc71","name":"Rio val Morela","label":"Rio val Morela","order":3,"width":0,"height":0,"topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"tooltip":"","passthru":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":120,"y":640,"wires":[["6f9b676823b0c8e8"]]},{"id":"aa9d16584c26d4ae","type":"ui-number-input","z":"7989dcbd7d4f367e","group":"6faf187afa58bc71","name":"Rio San Clemente","label":"Rio San Clemente","order":2,"width":0,"height":0,"topic":"topic","topicType":"msg","min":0,"max":10,"step":1,"tooltip":"","passthru":true,"sendOnBlur":true,"sendOnEnter":true,"className":"","clearable":false,"icon":"","iconPosition":"left","iconInnerPosition":"inside","spinner":"default","x":130,"y":700,"wires":[["a474137157d13c5d"]]},{"id":"a9bbf4f66956b596","type":"function","z":"7989dcbd7d4f367e","name":"Fiume Adige","func":"msg.payload = \"Adige\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":190,"y":140,"wires":[["aa8930638dc7275e"]]},{"id":"aa8930638dc7275e","type":"subflow:67d24932ace49a09","z":"7989dcbd7d4f367e","name":"","x":470,"y":140,"wires":[]},{"id":"20ba4e9a38f8aad3","type":"link in","z":"7989dcbd7d4f367e","name":"segnale output grafico","links":["1d0a478c40b0d260","6a8a38e1418c0fc7"],"x":65,"y":200,"wires":[["bd4383c823b5a3ef"]]},{"id":"bd4383c823b5a3ef","type":"function","z":"7989dcbd7d4f367e","name":"Fiume Rio_Molini","func":"msg.payload = \"Rio_Molini\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":200,"wires":[["ea3031d5ded04e57"]]},{"id":"ea3031d5ded04e57","type":"subflow:67d24932ace49a09","z":"7989dcbd7d4f367e","name":"","x":470,"y":200,"wires":[]},{"id":"4e7ef4decacff2a4","type":"link in","z":"7989dcbd7d4f367e","name":"segnale output grafico","links":["1d0a478c40b0d260","6a8a38e1418c0fc7"],"x":65,"y":260,"wires":[["656a8991fe318322"]]},{"id":"656a8991fe318322","type":"function","z":"7989dcbd7d4f367e","name":"Fiume Rio_Piazzo","func":"msg.payload = \"Rio_Piazzo\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":210,"y":260,"wires":[["87fa62c3a8417221"]]},{"id":"87fa62c3a8417221","type":"subflow:67d24932ace49a09","z":"7989dcbd7d4f367e","name":"","x":470,"y":260,"wires":[]},{"id":"ed536eb77d80059a","type":"link in","z":"7989dcbd7d4f367e","name":"segnale output grafico","links":["1d0a478c40b0d260","6a8a38e1418c0fc7"],"x":65,"y":320,"wires":[["65d7bb721377e8cb"]]},{"id":"65d7bb721377e8cb","type":"function","z":"7989dcbd7d4f367e","name":"Fiume Rio_val_Morela","func":"msg.payload = \"Rio_val_Morela\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":320,"wires":[["76122d7f6cb6a844"]]},{"id":"76122d7f6cb6a844","type":"subflow:67d24932ace49a09","z":"7989dcbd7d4f367e","name":"","x":470,"y":320,"wires":[]},{"id":"3d396afbe434e32e","type":"link in","z":"7989dcbd7d4f367e","name":"segnale output grafico","links":["1d0a478c40b0d260","6a8a38e1418c0fc7"],"x":65,"y":380,"wires":[["441fe17554e803f2"]]},{"id":"441fe17554e803f2","type":"function","z":"7989dcbd7d4f367e","name":"Fiume Rio_San_Clemente","func":"msg.payload = \"Rio_San_Clemente\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":380,"wires":[["153738c4c3675691"]]},{"id":"153738c4c3675691","type":"subflow:67d24932ace49a09","z":"7989dcbd7d4f367e","name":"","x":470,"y":380,"wires":[]},{"id":"fe3b769ce9b04de9","type":"http request","z":"7989dcbd7d4f367e","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://raw.githubusercontent.com/Paolo-Comper/Sonde_X_Vigili_Di_Villalagarina/refs/heads/main/Resouces/Positions.json","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":510,"y":60,"wires":[["f8d73f78fceaad93"]]},{"id":"f8d73f78fceaad93","type":"json","z":"7989dcbd7d4f367e","name":"","property":"payload","action":"","pretty":false,"x":670,"y":60,"wires":[["42afa7245191d113"]]},{"id":"42afa7245191d113","type":"function","z":"7989dcbd7d4f367e","name":"function 1","func":"var fiumi = global.get(\"Dati\") || {}; \n\nconst dati_to_add = msg.payload || []; \n\nlet new_fiumi = {}; \n\nObject.keys(fiumi).forEach(function (nome) { \n    const element = fiumi[nome]; \n    const extra = dati_to_add.find(e => e.nome === nome); \n    if (extra) { \n        new_fiumi[nome] = { nome: element.nome, valore: element.valore, lat: extra.lat, lon: extra.lon }; \n    }\n    else { \n        new_fiumi[nome] = element; \n    } \n}); \n\nglobal.set(\"Fiumi\", new_fiumi); \n\nmsg.payload = new_fiumi; \nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":820,"y":60,"wires":[["1d0a478c40b0d260"]]},{"id":"1d0a478c40b0d260","type":"link out","z":"7989dcbd7d4f367e","name":"segnale di aggiornamento","mode":"link","links":["9e1061de6d03f67b","2dfe61daa9f41d3d","6b2e0d1efe16ad7a","891a150fed9048d6","20ba4e9a38f8aad3","4e7ef4decacff2a4","ed536eb77d80059a","3d396afbe434e32e","744c0aa270b0de5f","17b61793051f547e"],"x":935,"y":60,"wires":[]},{"id":"92c36555db02da8f","type":"comment","z":"7989dcbd7d4f367e","name":"Conviene inviare su uno stesso mqtt tutte le informazioni del sensore esempio: { \"name\": \"wow\", \"lat\": -34, \"lon\": 50, \"layer\": \"punti\"}","info":"Conviene inviare su uno stesso mqtt tutte le informazioni del sensore\nesempio:\n{ \"name\": \"wow\", \"lat\": -34, \"lon\": 50, \"layer\": \"punti\"}\n","x":560,"y":1300,"wires":[]},{"id":"17b61793051f547e","type":"link in","z":"7989dcbd7d4f367e","name":"segnale output grafico","links":["1d0a478c40b0d260"],"x":605,"y":320,"wires":[["91855e05e3a2dbad"]]},{"id":"91855e05e3a2dbad","type":"function","z":"7989dcbd7d4f367e","name":"Assebla struttura dati per mappa","func":"let fiumi = global.get(\"Fiumi\") || {};\n\nlet msgs = [];\n\nlet lat_arr = [];\nlet lon_arr = [];\n\n// crea un msg per ogni fiume\nObject.keys(fiumi).forEach(function (key) {\n    const f = fiumi[key];\n\n    if (typeof f.lat === \"number\" && typeof f.lon === \"number\") {\n        lat_arr.push(f.lat);\n        lon_arr.push(f.lon);\n\n        msgs.push({\n            payload: {\n                name: f.nome,\n                lat: f.lat,\n                lon: f.lon,\n                layer: \"punti\"\n            }\n        });\n    }\n});\n\n// se non ci sono punti, non fare nulla\nif (lat_arr.length === 0) {\n    return null;\n}\n\n// calcolo bounds\nvar margine = 0.01;\n\nvar lat_min = Math.min(...lat_arr);\nvar lon_min = Math.min(...lon_arr);\nvar lat_max = Math.max(...lat_arr);\nvar lon_max = Math.max(...lon_arr);\n\n// worldmap vuole [ [south, west], [north, east] ]\nlet bounds_msg = {\n    payload: {\n        command: {\n            bounds: [\n                [lat_min - margine, lon_min - margine],\n                [lat_max + margine, lon_max + margine]\n            ]\n        }\n    }\n};\n\n// aggiungi il msg dei bounds alla fine\nmsgs.push(bounds_msg);\n\n// invia tutti i msg sulla singola uscita\nreturn [msgs];\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":320,"wires":[["27d1de4bf7b6251b"]]},{"id":"e09145016128deaa","type":"global-config","env":[],"modules":{"@flowfuse/node-red-dashboard":"1.30.0","@flowfuse/node-red-dashboard-2-ui-led":"1.1.0","node-red-contrib-web-worldmap":"5.5.4"}}]